.crop-p {
  color: #e0e0e0;
  text-align: center;
  font-size: 2rem;
  margin: 2% auto;
  width: 80%;
}

.crop-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  max-width: 900px;
}

@media (max-width: 780px) {
  .crop-container {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it takes full viewport height */
  margin: 0;
  background-color: #121212; /* Optional: set a background for visibility */
}

.background-wrapper  {
  background-color: #1a1a1a;
  padding: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}



.predict_crop_btn {
  background-color: #26a69a;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1.1rem;
  max-width: 200px;
  margin-top: 20px;
}

.predict_crop_btn:hover {
  background-color: #00796b;
}

.predict_crop_btn:active {
  transform: scale(0.98);
}

.crop-progress-bar {
  margin: 1% auto;
  width: 80%;
}
