.crop-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f4f4f4; /* Use the same background color as other pages */
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.crop-result-p {
  color: #333; /* Match color with other pages */
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.crop-result-img {
  max-width: 100%; /* Ensure responsiveness */
  border-radius: 8px;
  margin: 1rem 0;
}

.crop-result-description {
  font-size: 1.1rem;
  margin: 1rem 0;
  text-align: center;
  color: #555; /* A subtle shade for readability */
}

.crop-try-btn {
  background-color: #10a37f;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.crop-try-btn:hover {
  background-color: #007553;
}
